$title-size: 60px;
$font-size: 20px;
$button-width: auto;
$button-margin: 20px 60px;
$main-red: rgb(161, 71, 71);
$main-red-active: rgb(113, 54, 54);
$font-color: #dcdcdc;
$dropdown-color: #434343;
$dropdown-shadow: #373737;
$transition-duration: 0.4s;


.GalleryView {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding: 100px 30px;

    h1 {
        margin: 0px 0px 40px 0px;
        color: white;
        font-size: $title-size;
    }

    &FilterControl {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $font-color;
        font-size: 20px;
        flex-wrap: wrap;

        &DropDown {
            position: relative;
            display: inline-block;

            &Button {
                display: flex;
                flex-direction: row;
                width: $button-width;
                justify-content: center;
                align-items: center;
                margin: $button-margin;
                transition: $transition-duration;
    
                p {
                    margin-left: 15px;
                }
    
                &:hover {
                    transition: $transition-duration;
                    cursor: pointer;
                    color: $main-red;
                }
            }

            &Content {
                display: none;
                position: absolute;
                background-color: $dropdown-color;
                z-index: 9990; 
                transition: .4s;
                width: 300px;
                max-height: 400px;
                overflow: auto;
                box-shadow: 0px 0px 2px 1px $dropdown-shadow;
                
                div {
                    width: 100%;
                    padding: 20px 30px 20px 30px;
                    color: white;
                    text-decoration: none;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    transition: $transition-duration;
                    
                    p {
                        margin-left: 20px;
                    }
                    &:hover {
                        background-color: $main-red;
                        cursor: pointer;
                        transition: $transition-duration;
                    }

                    &:active {
                        background-color: $main-red-active;
                    }
                }
            }

            &:hover &Content {
                display: block;
                transition: .4s;
            }
              
        }
    }

    &GridView {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }

    ::-webkit-scrollbar {
        width: 7px;
    }
    
    ::-webkit-scrollbar-track {
        background: none; 
    }

    ::-webkit-scrollbar-thumb {
        background: $main-red; 
    }
}