$title-size: 60px;
$font-size: 20px;
$button-width: auto;
$button-margin: 20px;
$main-red: rgb(161, 71, 71);
$font-color: #dcdcdc;
$dropdown-color: #434343;
$dropdown-shadow: #828282;


.GalleryView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 100px;

    h1 {
        margin: 0;
        color: white;
        font-size: $title-size;
    }

    &FilterControl {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        color: $font-color;
        font-size: 20px;
        flex-wrap: wrap;

        &DropDown {
            position: relative;
            display: inline-block;

            &Button {
                display: flex;
                flex-direction: row;
                width: $button-width;
                justify-content: center;
                align-items: center;
                margin: $button-margin;
                transition: 0.4s;
    
                p {
                    margin-left: 15px;
                }
    
                &:hover {
                    transition: 0.4s;
                    cursor: pointer;
                    color: $main-red;
                }
            }

            &Content {
                display: none;
                position: absolute;
                background-color: $dropdown-color;
                z-index: 9990; 
                transition: .4s;
                width: 300px;
                max-height: 500px;
                overflow: auto;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 0px 60px $dropdown-shadow;

                div {
                    width: 100%;
                    padding: 20px 30px 20px 30px;
                    height: 50px;
                    color: white;
                    text-decoration: none;
                    display: flex;
                    transition: 0.4s;

                    &:hover {
                        background-color: $main-red;
                        cursor: pointer;
                        transition: 0.4s;
                    }
                }
            }

            &:hover &Content {
                display: flex;
                transition: .4s;
            }
              
        }
    }

    &GridView {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}