$bg-color: rgb(38, 38, 38);
$input-color: #888888;
$input-focus-color: rgb(167, 71, 71);
$input-padding: 15px;
$ani-dur: 0.4s;
$font-size: 30px;
$no-result-size-icon: 50px;
$no-result-size-p: 20px;
$no-result-margin-p: 20px;

.Search {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: $bg-color;
    color: white;

    &Input {
        width: 70%;
        height: 10%;
        background: transparent;
        border: none;
        border-bottom: 2px solid $input-color;
        outline: none;
        color: $input-color;
        transition: border $ani-dur ease-out;
        text-align: center;
        font-size: $font-size;
        padding: $input-padding;

        &:focus {
            border-bottom: 4px solid $input-focus-color;
            color: $input-focus-color;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                visibility: hidden;
                color: $input-focus-color;
                opacity: 1; /* Firefox */
            }

            &::selection {
                background: $input-focus-color;
                color: $bg-color; /* WebKit/Blink Browsers */
            }
        }
    }

    &Result {
        width: 70%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        overflow-y: auto;
        overflow-x: hidden;
        margin: $input-padding;
        transition: max-height 0.15s ease-out;
    }

    &NoResult {
        font-size: $no-result-size-icon;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $input-color;

        p {
            margin: $no-result-margin-p;
            font-size: $no-result-size-p;
        }
    }

        /* width */
    ::-webkit-scrollbar {
        transition: 0.4s;
        width: 2px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: none; 
    }

    ::-webkit-scrollbar-thumb {
        background: $input-focus-color; 
    }
}

